.catalog{
    margin: 50px 0 80px;
    max-width: 1340px;
    padding: 0 30px;
}
.catalog--container{
    margin-bottom: 80px;
}
.catalog--container:last-child{
    margin-bottom: 0;
}
.catalog h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #2D3033;
    margin-bottom: 50px;
}
.catalog--product--text a{
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #2D3033;
    margin-bottom: 30px;
    transition: 0.3s;
    width: 90%;
    min-height: 52px;
}
.catalog--product--text{
    width: 100%;
}
.catalog--product{
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.catalog--product--container img{
    max-width: 100%;
    margin-bottom: 65px;
}
.catalog--product--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    margin-bottom: 50px;
}
.catalog--the-arrow {
    width: 1px;
    transition: all 0.2s;
}
.catalog--the-arrow.-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.catalog--the-arrow.-left > .catalog--shaft {
    width: 50%;
    background-color: rgb(45, 48, 51, 0.15);
}
.catalog--the-arrow.-left > .catalog--shaft:before, .catalog--the-arrow.-left > .catalog--shaft:after {
    width: 0;
    background-color: rgb(45, 48, 51, 0.15);
}
.catalog--the-arrow.-left > .catalog--shaft:before {
    transform: rotate(0);
}
.catalog--the-arrow.-left > .catalog--shaft:after {
    transform: rotate(0);
}
.catalog--the-arrow > .catalog--shaft {
    background-color: rgb(45, 48, 51, 0.15);
    display: block;
    height: 1px;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0s;
    will-change: transform;
}
.catalog--the-arrow > .catalog--shaft:before, .catalog--the-arrow > .catalog--shaft:after {
    background-color: rgb(45, 48, 51, 0.15);
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s;
    transition-delay: 0s;
}
.catalog--the-arrow > .catalog--shaft:before {
    transform-origin: top right;
}
.catalog--the-arrow > .catalog--shaft:after {
    transform-origin: bottom right;
}
.catalog__animated--arrow {
    position: relative;

}
.catalog__animated--arrow:hover {
    color: #FD6F08;
}
.catalog__animated--arrow:hover > .catalog--the-arrow.-left > .catalog--shaft {
    width: 100%;
    transition-delay: 0.1s;
    background-color: #FD6F08;
}
.catalog__animated--arrow > .catalog--the-arrow.-left > .catalog--shaft:before, .catalog__animated--arrow > .catalog--the-arrow.-left > .catalog--shaft:after {
    width: 8px;
    transition-delay: 0.1s;
    background-color: rgb(45, 48, 51, 0.15);
}
.catalog__animated--arrow:hover > .catalog--the-arrow.-left > .catalog--shaft:before, .catalog__animated--arrow:hover > .catalog--the-arrow.-left > .catalog--shaft:after {
    background-color: #FD6F08;
}
.catalog__animated--arrow > .catalog--the-arrow.-left > .catalog--shaft:before {
    transform: rotate(40deg);
}
.catalog__animated--arrow > .catalog--the-arrow.-left > .catalog--shaft:after {
    transform: rotate(-40deg);
}
.catalog__animated--arrow:hover .catalog--product--text a{
    color: #FD6F08;
}
@media (max-width: 1100px) {
    .catalog--product{
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr
    }
    .catalog--product--text a{
        font-size: 14px;
        min-height: 36px;
    }
    .catalog--product--container img{
        margin-bottom: 30px;
    }
    .catalog{
        margin: 40px 0;
    }
    .catalog h1{
        font-size: 20px;
        margin-bottom: 20px;
    }
}
@media (max-width: 880px) {
    .catalog--product{
        grid-template-columns: 1fr 1fr
    }
    .catalog--product--container{
        justify-content: space-between
    }

}