
.main--container{
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 30px;
}
.main__slider{
    position: relative;
    min-height: 500px;
}
.main__swiper{
    margin: -60px -30px 0;
}
.main__slider img{
    width: 100%;
}
.main__slider h1{
    font-weight: 800;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #2D3033;
}
.main__slider a{
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    padding: 14px 38px;
    color: #FFFFFF;
    background: #FD6F08;
    border-radius: 8px;
    margin-top: 40px;
}
.main__slider--text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 135px;
    top: 27%;
    width: 40%;
}
.catalog{
    margin: 80px 0;
}
.catalog h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #2D3033;
    margin-bottom: 50px;
}
.catalog--product--text a{
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #2D3033;
    margin-bottom: 30px;
    transition: 0.3s;
    width: 90%;
    text-decoration: none;
}
.catalog--product--text{
    width: 100%;
}
.catalog--product{
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.catalog--product--container img{
    max-width: 100%;
    margin-bottom: 65px;
}
.catalog--product--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.catalog--the-arrow {
    width: 1px;
    transition: all 0.2s;
}
.catalog--the-arrow.-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.catalog--the-arrow.-left > .catalog--shaft {
    width: 50%;
    background-color: rgb(45, 48, 51, 0.15);
}
.catalog--the-arrow.-left > .catalog--shaft:before, .catalog--the-arrow.-left > .catalog--shaft:after {
    width: 0;
    background-color: rgb(45, 48, 51, 0.15);
}
.catalog--the-arrow.-left > .catalog--shaft:before {
    transform: rotate(0);
}
.catalog--the-arrow.-left > .catalog--shaft:after {
    transform: rotate(0);
}
.catalog--the-arrow > .catalog--shaft {
    background-color: rgb(45, 48, 51, 0.15);
    display: block;
    height: 1px;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0s;
    will-change: transform;
}
.catalog--the-arrow > .catalog--shaft:before, .catalog--the-arrow > .catalog--shaft:after {
    background-color: rgb(45, 48, 51, 0.15);
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s;
    transition-delay: 0s;
}
.catalog--the-arrow > .catalog--shaft:before {
    transform-origin: top right;
}
.catalog--the-arrow > .catalog--shaft:after {
    transform-origin: bottom right;
}
.catalog__animated--arrow {
    position: relative;

}
.catalog__animated--arrow:hover {
    color: #FD6F08;
}
.catalog__animated--arrow:hover > .catalog--the-arrow.-left > .catalog--shaft {
    width: 100%;
    transition-delay: 0.1s;
    background-color: #FD6F08;
}
.catalog__animated--arrow > .catalog--the-arrow.-left > .catalog--shaft:before, .catalog__animated--arrow > .catalog--the-arrow.-left > .catalog--shaft:after {
    width: 8px;
    transition-delay: 0.1s;
    background-color: rgb(45, 48, 51, 0.15);
}
.catalog__animated--arrow:hover > .catalog--the-arrow.-left > .catalog--shaft:before, .catalog__animated--arrow:hover > .catalog--the-arrow.-left > .catalog--shaft:after {
    background-color: #FD6F08;
}
.catalog__animated--arrow > .catalog--the-arrow.-left > .catalog--shaft:before {
    transform: rotate(40deg);
}
.catalog__animated--arrow > .catalog--the-arrow.-left > .catalog--shaft:after {
    transform: rotate(-40deg);
}
.catalog__animated--arrow:hover .catalog--product--text a{
    color: #FD6F08;
}
.about--container{
    display: flex;
    justify-content: center;
}
.about{
    padding: 80px 30px;
    background: #F7F9FB;
    margin: 0 -30px;
}
.about__us,
.about__news{
    width: 100%;
}
.about__news--block{
    display: flex;
    align-items: center;
}
.about__news--block img{
    max-width: 100px;
    border-radius: 50%;
}
.about--container h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #2D3033;
    margin-bottom: 50px;
}
.about__us p{
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #2D3033;
    margin-bottom: 40px;
    width: 80%;
}
.about__us a{
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #2D3033;
    opacity: 0.7;
    padding: 10px 19px;
    border: 1px solid #D1D3D5;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    display: inline-block;
}
.about__us a>img{
margin-left: 20px;
}
.about__news--block{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid rgb(45, 48, 51, 0.15);
}
.about__news--block:last-child{
    border: none;
}
.about__news h1{
    margin-bottom: 20px;
}
.about__news--block p{
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-decoration-line: underline;
    color: #2D3033;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.3s;
}
.about__news--block p:hover{
    color: #FD6F08;
}
.about__news--block span{
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #2D3033;
    opacity: 0.5;
}
.about__news--block img{
    margin-right: 30px ;
}
.partner--container{
    margin: 80px 0;
}
.partner h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #2D3033;
    margin-bottom: 50px;
}
.partner__client{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.partner__client img{
    margin: 0 10px;
    max-width: 100%;
}
@media (max-width: 1100px) {
    .main--container{
        padding: 0 20px;
    }
    .main__swiper{
        margin: 0 -20px;
    }
    .main__slider{
        min-height: 448px;
    }
    .main__slider--text{
        left: 20px;
    }
    .main__slider h1{
        font-size: 32px;
    }
    .main__slider a{
        margin-top: 30px;
        font-size: 14px;
        padding: 11px 23px;
    }
    .main__slider img{
        position: relative;
       bottom: 0;
        object-fit: cover;
    }
    .catalog--product{
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr
    }
    .catalog--product--text a{
        font-size: 14px;
    }
    .catalog--product--container img{
        margin-bottom: 30px;
    }
    .catalog{
        margin: 40px 0;
    }
    .about h1,
    .catalog h1,
    .partner h1{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .about{
        margin: 0px -20px;
        padding: 40px 20px;
    }
    .about--container{
        flex-direction: column;
    }
    .about__us p{
        font-size: 14px;
        width: 100%;
        margin-bottom: 20px;
    }
    .about__us a{
        margin-bottom: 40px;
        font-size: 14px;
    }
    .about__news--block{

    }
    .about__news--block p{
        font-size: 14px;
    }
    .about__news--block span{
        font-size: 12px;
    }
    .partner__client{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 35px;
    }
    .partner__client img{
        margin: 0;
    }
    .partner--container{
        margin: 40px 0;
    }
    .about__news h1{
        margin-bottom: -10px;
    }
}
@media (max-width: 880px) {
    .catalog--product{
        grid-template-columns: 1fr 1fr
    }
    .catalog--product--container{
        justify-content: space-between
    }

}
@media (max-width: 700px) {
    .main__slider--text{
        width: 90%;
    }

}
/* Swiper */
@font-face {
    font-family: swiper-icons;
    src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
    font-weight: 400;
    font-style: normal;
}

:root {
    --swiper-theme-color: #007aff;
}

.swiper__main .swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 12px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}

.swiper__main .swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 50%);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    width: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    height: 40px;
}

.swiper__main, swiper-container {
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}

.swiper__main .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 30px;
    right: auto;
}

.swiper__main .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 30px;
    left: auto;
}

.swiper__main .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
}

.swiper__main .swiper-pagination {
    text-align: center;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.swiper__main .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper__main .swiper-pagination-bullet {
    height: 2px;
    display: inline-block;
    background: #2D3033;
    opacity: 0.2;
    border-radius: 4px;
    width: 20px;
}

.swiper__main .swiper-android .swiper-slide, .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
}

.swiper__main .swiper-wrapper {
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: inherit;
    box-sizing: content-box;
}

.swiper__main .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
}

.swiper__main .swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.swiper__main .swiper-slide, .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: flex;
}

.swiper__main .swiper-pagination-bullet-active {
    opacity: 1;
    background: #FD6F08;
}

.swiper__main .swiper-button-prev:after, .swiper__main .swiper-rtl .swiper-button-next:after {
    content: "prev";
}

.swiper__main .swiper-button-next:after, .swiper__main .swiper-rtl .swiper-button-prev:after {
    content: "next";
}

@media (max-width: 1100px) {
    .swiper__main .swiper-button-next, .swiper__main .swiper-button-prev {
        display: none;
    }
}