
.main--container{
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 30px;
}
.main__slider{
    margin: -60px -30px -4px;
    position: relative;
    min-height: 500px;
}
.main__slider img{
    width: 100%;
    min-height: 500px;
}
.main__slider h1{
    font-weight: 800;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #2D3033;
}
.main__slider a{
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    padding: 14px 38px;
    color: #FFFFFF;
    background: #FD6F08;
    border-radius: 8px;
    margin-top: 40px;
}
.main__slider--text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 135px;
    top: 27%;
    width: 40%;
}
.catalog{
    margin: 80px 0;
}
.catalog h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #2D3033;
    margin-bottom: 50px;
}
.catalog--product--text p{
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #2D3033;
    margin-bottom: 30px;
    transition: 0.3s;
    width: 90%;
}
.catalog--product--text{
    width: 100%;
}
.catalog--product{
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.catalog--product--container img{
    max-width: 100%;
    margin-bottom: 65px;
}
.catalog--product--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.catalog--the-arrow {
    width: 1px;
    transition: all 0.2s;
}
.catalog--the-arrow.-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.catalog--the-arrow.-left > .catalog--shaft {
    width: 50%;
    background-color: rgb(45, 48, 51, 0.15);
}
.catalog--the-arrow.-left > .catalog--shaft:before, .catalog--the-arrow.-left > .catalog--shaft:after {
    width: 0;
    background-color: rgb(45, 48, 51, 0.15);
}
.catalog--the-arrow.-left > .catalog--shaft:before {
    transform: rotate(0);
}
.catalog--the-arrow.-left > .catalog--shaft:after {
    transform: rotate(0);
}
.catalog--the-arrow > .catalog--shaft {
    background-color: rgb(45, 48, 51, 0.15);
    display: block;
    height: 1px;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0s;
    will-change: transform;
}
.catalog--the-arrow > .catalog--shaft:before, .catalog--the-arrow > .catalog--shaft:after {
    background-color: rgb(45, 48, 51, 0.15);
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s;
    transition-delay: 0s;
}
.catalog--the-arrow > .catalog--shaft:before {
    transform-origin: top right;
}
.catalog--the-arrow > .catalog--shaft:after {
    transform-origin: bottom right;
}
.catalog__animated--arrow {
    position: relative;

}
.catalog__animated--arrow:hover {
    color: #FD6F08;
}
.catalog__animated--arrow:hover > .catalog--the-arrow.-left > .catalog--shaft {
    width: 100%;
    transition-delay: 0.1s;
    background-color: #FD6F08;
}
.catalog__animated--arrow > .catalog--the-arrow.-left > .catalog--shaft:before, .catalog__animated--arrow > .catalog--the-arrow.-left > .catalog--shaft:after {
    width: 8px;
    transition-delay: 0.1s;
    background-color: rgb(45, 48, 51, 0.15);
}
.catalog__animated--arrow:hover > .catalog--the-arrow.-left > .catalog--shaft:before, .catalog__animated--arrow:hover > .catalog--the-arrow.-left > .catalog--shaft:after {
    background-color: #FD6F08;
}
.catalog__animated--arrow > .catalog--the-arrow.-left > .catalog--shaft:before {
    transform: rotate(40deg);
}
.catalog__animated--arrow > .catalog--the-arrow.-left > .catalog--shaft:after {
    transform: rotate(-40deg);
}
.catalog__animated--arrow:hover .catalog--product--text p{
    color: #FD6F08;
}
.about--container{
    display: flex;
    justify-content: center;
}
.about{
    padding: 80px 30px;
    background: #F7F9FB;
    margin: 0 -30px;
}
.about__us,
.about__news{
    width: 100%;
}
.about__news--block{
    display: flex;
    align-items: center;
}
.about__news--block img{
    max-width: 100px;
    border-radius: 50%;
}
.about--container h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #2D3033;
    margin-bottom: 50px;
}
.about__us p{
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #2D3033;
    margin-bottom: 40px;
    width: 80%;
}
.about__us a{
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #2D3033;
    opacity: 0.7;
    padding: 10px 19px;
    border: 1px solid #D1D3D5;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    display: inline-block;
}
.about__us a>img{
margin-left: 20px;
}
.about__news--block{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid rgb(45, 48, 51, 0.15);
}
.about__news--block:last-child{
    border: none;
}
.about__news h1{
    margin-bottom: 20px;
}
.about__news--block p{
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-decoration-line: underline;
    color: #2D3033;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.3s;
}
.about__news--block p:hover{
    color: #FD6F08;
}
.about__news--block span{
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #2D3033;
    opacity: 0.5;
}
.about__news--block img{
    margin-right: 30px ;
}
.partner--container{
    margin: 80px 0;
}
.partner h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #2D3033;
    margin-bottom: 50px;
}
.partner__client{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.partner__client img{
    margin: 0 10px;
    max-width: 100%;
}
@media (max-width: 1100px) {
    .main--container{
        padding: 0 20px;
    }
    .main__slider{
        margin: 0 -20px;
        min-height: 460px;
    }
    .main__slider--text{
        left: 20px;
    }
    .main__slider h1{
        font-size: 32px;
    }
    .main__slider a{
        margin-top: 30px;
        font-size: 14px;
        padding: 11px 23px;
    }
    .main__slider img{
        min-height: 460px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        object-fit: cover;
    }
    .catalog--product{
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr
    }
    .catalog--product--text p{
        font-size: 14px;
    }
    .catalog--product--container img{
        margin-bottom: 30px;
    }
    .catalog{
        margin: 40px 0;
    }
    .about h1,
    .catalog h1,
    .partner h1{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .about{
        margin: 0px -20px;
        padding: 40px 20px;
    }
    .about--container{
        flex-direction: column;
    }
    .about__us p{
        font-size: 14px;
        width: 100%;
        margin-bottom: 20px;
    }
    .about__us a{
        margin-bottom: 40px;
        font-size: 14px;
    }
    .about__news--block{

    }
    .about__news--block p{
        font-size: 14px;
    }
    .about__news--block span{
        font-size: 12px;
    }
    .partner__client{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 35px;
    }
    .partner__client img{
        margin: 0;
    }
    .partner--container{
        margin: 40px 0;
    }
    .about__news h1{
        margin-bottom: -10px;
    }
}
@media (max-width: 880px) {
    .catalog--product{
        grid-template-columns: 1fr 1fr
    }
    .catalog--product--container{
        justify-content: space-between
    }

}
@media (max-width: 700px) {
    .main__slider--text{
        width: 90%;
    }

}
